In [29]:
import pingouin
import pandas

group_a = pandas.read_csv('group_a.csv', header = None) # Import datasets
group_b = pandas.read_csv('group_b.csv', header = None)
group_c = pandas.read_csv('group_c.csv', header = None)

In [30]:
group_a_means = pandas.DataFrame(group_a.describe().iloc[1]) # Compute the means of each generation for each dataset.
group_a_means['type'] = [1 for i in range(len(group_a_means))]

group_b_means = pandas.DataFrame(group_b.describe().iloc[1])
group_b_means['type'] = [2 for i in range(len(group_a_means))]

group_c_means = pandas.DataFrame(group_c.describe().iloc[1])
group_c_means['type'] = [3 for i in range(len(group_a_means))]

In [31]:
dataset = pandas.concat([group_a_means, group_b_means, group_c_means], ignore_index = True) # Concatenate the datasets for a one-way ANOVA.

pingouin.welch_anova(dv = 'mean', between = 'type', data = dataset) # Perform a one-way ANOVA using Welch's test.

  Source  ddof1       ddof2            F          p-unc       np2
0   type      2  402.914126  1967.916482  1.163380e-208  0.848746

In [32]:
pingouin.pairwise_gameshowell(data = dataset, dv = 'mean', between = 'type') # Perform a post hoc analysis using the Games-Howell test.

,A,B,mean(A),mean(B),diff,se,T,df,pval,hedges
0,1,2,258.206111,0.516167,257.689944,4.896246,52.630108,299.103163,0.001,4.291839
1,1,3,258.206111,22.063667,236.142444,4.935518,47.845525,308.733657,0.001,3.901669
2,2,3,0.516167,22.063667,-21.547500,0.628000,-34.311320,305.335556,0.001,-2.797992